<!DOCTYPE html>
<html>

<head> |
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title> Jovian Careers </title>
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers </h1>
        <img class="img-fluid" src="https://apartment-website--kobihazut.repl.co/static/banner.jpg" id="banner">

        <h2 class="text-center mt-2 mb-4">About Jovian</h2>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing             elit. Sed tincidunt vulputate mollis. Nullam
            in sapien
            erat.
            Donec placerat pulvinar sagittis. Quisque ullamcorper nibh sed             justo pulvinar, ac tincidunt metus iaculis.
            Duis
            dignissim, mi lacinia congue efficitur, mauris sem eleifend                 sapien, quis finibus ante nibh faucibus orci.
            Sed
            Suspendisse metus nunc, semper at fermentum ac, tincidunt                  mattis dui. Nullam gravida commodo tellus, ac
            mattis
            Nunc
            vitae justo tristique, blandit nisl ac, posuere ex. Curabitur vel arcu sapien.</p>
</body>
<h2 class="text-center mt-2 mb-4">Open Positions </h2>
<p>
<div>
    {%for job in jobs%}
  {% include 'jobitem.html'%}
    {%endfor%}
</div>
</p>
<div class="text-center">
    <button class="btn btn-primary btn-lg">contact us</button>
    <p class="mt-4">copyright 2023 ,jovian</p>
</div>
</div>

</html>