<!DOCTYPE html>
<html>

<head> |
   
    <title> Jovian Careers </title>
     {%include'bootstrap.html'%}
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
        <h1 class="text-center mt-2 mb-4">Jovian Careers </h1>

        <div class="row" style="margin-bottom:16px;">
            <div class=col-md-6>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
 tincidunt vulputate mollis.Nullamin sapienerat.
Donec placerat pulvinar sagittis. Quisque ullamcorper nibh sed justo pulvinar, ac tincidunt metus iaculis. Duis dignissim, mi lacinia congue efficitur, mauris sem eleifend sapien, quis finibus ante nibh faucibus   orci. Suspendisse metus nunc, semper at fermentum ac, tincidunt mattis dui. Nullam gravida commodo tellus,ac mattisNunc vitae justo tristique, blandit nisl ac, posuere ex. Curabitur vel arcu sapien.
                </p>
            </div>
            <div class="d-none d-md-block col-md-6 ">
                <img src="/static/people.jpg" style="height:320px; border-radius:49x;" alt="">
            </div>
        </div>
        <h2 class="text-center mt-2 mb-4">Open Positions </h2>
        <div>
            {%for job in jobs%}
            {% include 'jobitem.html'%}
            {%endfor%}
        </div>
        <div class="text-center">
            <a href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Openings&body=My%20name%20%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Question%20%3A%20%3Center%20your%20question%3E" target="_blank"class="btn btn-primary btn-lg">contact us</a>
        </div>
    </div>
    {%include 'footer.html'%}
</body>

</html>